body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #1E2F97;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #797EF6;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #5606f7;
}

.backspace {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #797EF6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backspace:hover {
    background-color: #5606f7;
}

.enter {
    grid-column: span 4;
}


